# Environment and secrets
.env
.env.local
.env.*.local
youtube_api_credentials.json
youtube_session.json
*.pem

# Dependencies
node_modules/

# Local Netlify folder & binaries
.netlify/
netlify/bin/

# System and logs
*.log
.DS_Store
test_mp4*

.vercel
